/* You can add global styles to this file, and also import other style files */
.card.horizontal{
  width: 96% !important;
}
p {
    margin: 0;
    color: inherit;
    text-align: justify;
    width: 100%;
    position: relative;
    left: 2%;
}
body {
  background: url("/assets/images/books1.jpeg");
  height: auto;
  width: auto;
}
