<br>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
            Pending Requests</div>
      <div class="collapsible-body">
        <span>
          <table class="bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
          
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>

        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
          Books Borrowed</div>
      <div class="collapsible-body">
        <span>
          <table class="bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Requested</th>
                <th>Accepted</th>
                <th>Shipped to Reader</th>
                <th>Due Date</th>
                <th>Shipped to Lender</th>
                
              </tr>
            </thead>
          
            <tbody>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
            </tbody>
          </table>

        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
          Books Lent</div>
      <div class="collapsible-body">
        <span>
          <table class="bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Requested</th>
                <th>Accepted</th>
                <th>Shipped to Reader</th>
                <th>Due Date</th>
                <th>Shipped to Lender</th>
          
              </tr>
            </thead>
          
            <tbody>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
              <tr>
                <td>Number</td>
                <td>String</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
                <td>Date</td>
              </tr>
            </tbody>
          </table>

        </span>
      </div>
    </li>
  </ul>













