// // ADDING SASS and MIXIN CODES
// // Usage:   @include transition(width, height 0.3s ease-in-out);
// // Output:  -webkit-transition(width 0.2s, height 0.3s ease-in-out);
// //          transition(width 0.2s, height 0.3s ease-in-out);
// //
// // Pass in any number of transitions
// @mixin transition($transitions...) {
//   $unfoldedTransitions: ();
//   @each $transition in $transitions {
//     $unfoldedTransitions: append(
//       $unfoldedTransitions,
//       unfoldTransition($transition),
//       comma
//     );
//   }

//   -webkit-transition: $unfoldedTransitions;
//   transition: $unfoldedTransitions;
// }

// @function unfoldTransition($transition) {
//   // Default values
//   $property: all;
//   $duration: 0.5s;
//   $easing: null; // Browser default is ease, which is what we want
//   $delay: null; // Browser default is 0, which is what we want
//   $defaultProperties: (
//     $property,
//     $duration,
//     $easing,
//     $delay
//   );

//   // Grab transition properties if they exist
//   $unfoldedTransition: ();
//   @for $i from 1 through length($defaultProperties) {
//     $p: null;
//     @if $i <= length($transition) {
//       $p: nth($transition, $i);
//     } @else {
//       $p: nth($defaultProperties, $i);
//     }
//     $unfoldedTransition: append($unfoldedTransition, $p);
//   }

//   @return $unfoldedTransition;
// }
// // transitions  - end //

// img {
//   display: inline-block;
//   position: relative;
// }
// .a {
//   color:rgb(158, 92, 92);
//   font-weight: 400;
//   letter-spacing: 0.1em;
// }
// .a:hover {
//   color: rgb(89, 89, 150);
//   font-weight: 800;
//   // height:100px;
//   letter-spacing: 2em;
//   @include transition(color 1s, letter-spacing 1s, font-weight 0.5s, height 0.5s ease-in-out);
// }

.slider {
  padding: 0px 10px 10px 10px;
}

p {
  text-align: center;
}

.card-panel {
  padding: 10px 10px 10px 10px;
}

// // using keyframe animation

// @keyframes slideInFromLeft {
//   0% {
//     transform: translateX(-100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

// .somethingAwesome {
//    /* This section calls the slideInFromLeft animation we defined above */
//   animation: 1s ease-out 0s 1 slideInFromLeft;

//   padding: 10%;

//   font-family: "Oswald", sans-serif;
//   font-weight: 700;
//   letter-spacing: 0.07em;
//   transition: 5s;

// }
// .somethingAwesome:hover {
//   color: $fontColor;
//   letter-spacing: 1em;

//   @include transition(letter-spacing 1s ease-out);
// }

// .menu-item {
//   text-align: center;
// }

//start video styles

.imageVideoScreenSettings {
  height: 100%;
  width: 1000px;
  top: 5px;
  left: 15%;
  opacity: 0.5;
}

video {
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.vidBackground {
  position: relative;
  // top: 0;
  // left: 0;
  @extend .imageVideoScreenSettings;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("https://upload.wikimedia.org/wikipedia/commons/transcoded/c/c0/Big_Buck_Bunny_4K.webm/Big_Buck_Bunny_4K.webm.480p.webmm")
      center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
