
<!-- <div class="slider">
  <ul class="slides">
    <li>
      <img src="../../assets/images/books1.jpeg">
    </li>
    <li>
      <img src="../../assets/images/books2.jpeg">
    </li>
    <li>
      <img src="../../assets/images/books3.jpeg">
    </li>
    <li>
      <img src="../../assets/images/books4.jpeg">
    </li>
  </ul>
</div> -->

<!-- temporary image here -->
<div class="tempImage"><img class="tempImage" src="../../assets/images/books1.jpeg"></div>

<br>
<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <span class="black-text">
        <p>Welcome to <strong>The Reading Exchange!</strong></p> 
        <p>This site allows you to exchange books you don't read anymore for books that are on your reading wish list!</p>
      </span>
    </div>
  </div>
</div>

