.links{
    font-size: 17px;
}

.navbar-brand{
    font-size: 27px;
}

.navbar{
  background-color: #e57373;

}
body {
  background-color: #fff9c4;
}


 /* body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 } */

