h1{
    text-align: center;
    color: white;
}

.card-panel{
    border-style: double;
    border-width: 4px;
}

button{
    background-color: #e57373;
    margin-left: 275px;

}

.materialize-textarea {
  font-size: 13px;
}

label {
  font-size: 17px;
}




.card horizontal {
  padding-right: 100px;
}

.materialize-textarea {
  font-size: 13px;
}

label {
  font-size: 17px;
}

.header {
  font-size: 15px;
}

button {
  margin-left: 42%;
  background-color: #e57373;
}

a {
  color: #e57373;
}

img {
  padding-left: 10px;
  padding-top: 28px;
  padding-bottom: 10px;
}
.card-action {
  align: right;
  border-radius: 15px;
}

.card-content {
  width: 800px;
}
