h1{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

}

#add-book{
    text-shadow: 2px 2px 4px #000000;

}

.card-action{
    text-align: center;
}

.card-title{
    text-align: center;
}

.collapsible-header{
    height: 60px;
    font-size: 20px;
    padding: 15px;
}

td{
    height:60px;
}

h1{
    color: white;
}

.card{
    border-style: double;
    border-width: 4px;
}

a{
    color:#e57373;
}

.collapsible-body{
    background-color: white;
}

button{
    background-color: #e57373;
}

