<!-- <div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a class='navbar-brand'>{{pageTitle}}</a>
          <ul class='nav navbar-nav'>
              <li><a [routerLink]="['/welcome']">Home</a></li>
          </ul>
      </div>
  </nav>
  <div class='container'>
      <router-outlet></router-outlet>
  </div>
</div> -->


<!-- Add search bar to nav, account login -->
<div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{pageTitle}}</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="">Library</a>
                </li>
                <li>
                    <a href="">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>