<div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a class='navbar-brand'>{{pageTitle}}</a>
            <ul id="nav-mobile" class="right library_Login">
              <li>
                  <a [routerLink]="['/library']">Library</a>
                </li>
                <li>
                    <a [routerLink]="['/my-profile']">Account</a>
                </li>
                <li>
                <a [routerLink]="['/']">Log-In</a>
                </li>
          </ul>
      </div>
  </nav>
  <div class='container'>
      <router-outlet></router-outlet>
  </div>
</div>


<!-- Add search bar to nav, account login -->
<div>
    <nav class="footerWrapper">
        <div class="nav-wrapper">
            <div class="brand-logo"></div>

            <ul id="nav-mobile" class="right library_Login">
            </ul>
        </div>
    </nav>
</div>

