
.col-md-12 {
    width: 100%;
    left: -15em;
}

.imageSize {
  position: relative;
  // display: ;
  height: 350px;
  width: 273px;
}
#one {
  @extend .imageSize;
  left: 7%;
  top: 0%;
}
#two {
  left: 66%;
  top: -25em;
  @extend .imageSize;
}
#three{
  margin-left: -5em;
  // left: 2%;
  left: 24em;
  top: -22em;
  // display: inline-block;
  @extend .imageSize;
}

#four {
  margin-left: -5em;
  // left: 2%;
  left: 34em;
  top: -22em;
  // display: inline-block;
  @extend .imageSize;
}
#five {
  margin-left: -5em;
  // left: 2%;
  left: 43em;
  top: -22em;
  // display: inline-block;
  @extend .imageSize;
}
#six {
  margin-left: -5em;
  // left: 2%;
  left: 14em;
  top: -22em;
  // display: inline-block;
  @extend .imageSize;
}