#search-section{
    margin-left: 20px;    
}

.input-field{
    width: 100px;
}

.btn.waves-effect.waves-light{
    align-content: center; 
}

.card-action{
    align: right;
    border-radius: 15px;
}

.card-content{
    width: 800px;   
}

.card-panel{
    margin-left: 40px;
    border-style: double;
    border-width: 4px;
}

.card horizontal{
   padding-right: 100px;
}

.materialize-textarea{
    font-size: 13px;
}

label{
    font-size: 17px;
}

.header{
    font-size: 15px;
}

button{
    margin-left: 80px;
    background-color: #e57373;
}

a{
    color:#e57373;
}

img{
    padding-left: 10px;
    padding-top: 28px;
    padding-bottom: 10px;
}


  

