.card.horizontal {
  width: 97% !important;
}

#afterExchange {
  color: #519ebb;
  text-align: center;
  margin: 0;
  text-align: justify;
  width: 100%;
  position: relative;
  left: 10em;
  font-size: 1em;
}

#infoDetail {
  color: hsl(196, 40%, 29%);
  text-align: center;
  margin: 0;
  text-align: justify;
  width: 100%;
  position: relative;
  left: 0em;
  font-size: 2em;
}

.card {
  height: auto;
  border-radius: 15px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 1em;
  width: 26em;
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.card {
  height: auto;
  border-radius: 15px;
}

/* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
} */

.appearDiv {
  position: relative;
  left: -10em;
}

#appearContent {
  width: 25%;
  position: relative;
  left: 4em;
  font-size: 2em;
}
