#search-section{
    margin-left: 20px;
    
}

.input-field{
    width: 100px;
}

.btn.waves-effect.waves-light{
    align-content: center; 
}
.card-action{
    align: right;
    /* width: 100px; */
}
.card-content{
    width: 800px;
}
.card-panel{
    margin-left: 40px;
}
.card horizontal{
   padding-right: 100px;
}

